/* Packages */
@import "~normalize.css/normalize.css";


* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #00030D;
  position: relative;
}

#txtStat {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center;
  align-content: center; */
  margin-top: 2rem; 
  margin-bottom: 5rem;

}

#totalNb {
  height: 50%;
  width: 25%;
  justify-content: left;
  margin-right: 2rem;
  margin-left: 2rem;
}

#totalMasse {
  height: 50%;
  width: 25%;
  justify-content: left;
  margin-right: 2rem;
  margin-left: 2rem;
}

#totalPercent {
  height: 50%;
  width: 25%;
  justify-content: left;
  margin-right: 2rem;
  margin-left: 2rem;
}


.material-icons {
  vertical-align: middle;
}

#music_player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  /* Just put a big one random number */
  z-index: 900;
}

.year {
  text-align: right;
  width: 25%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
}

.year label {
  margin-right: 1rem;
}

#player {
  /* margin-left: 30rem; */
  width: 25%;
}

#player-infos {
  align-content: right;
  width: 22rem;
  /* margin-left: 10rem; */
  padding: 1rem;
}

#player-controls {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#youtube-audio {
  background-color: #01FF29;
}

/* #separateur{
  align-items: center;
  background-color: aqua;
  width: 80%;
  height: 10vh;
} */

#meteorites {
  width: 100%;
  height: 100%;
  background-image: url('../../public/img/sunrise2.jpg');
  background-image: -moz-linear-gradient(orange, purple, darkblue, );
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

canvas {
  width: 100%;
  /* height: calc(100vh - 400px); */
  height: calc(100vh);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0%;
  border-radius: 5rem;
}

#StatisticsDonut {
  display: flex;
  flex-direction: column;
  border-radius: 1.7rem;
  height: 100%;
}

#MapVis {
  height: 100%;
  width: 100%;
}

#bigNb{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin:0%;
}
#accroche{
  width: 60%;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1.8em;
  opacity: 80%;
  font-size: 1rem;
}

#graph-meteorite-numbers {
  display: flex;
  justify-content: row;
}

#year-select {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: left;
  padding: 0.4rem;
}

select {
  color: white;
  border-radius: .5rem;
  border-width: 0.1rem;
  background-color: #00030D;
  border-color: white;
}

p {
  color: white;
  font-size: 1rem;
  margin-right: 2rem;
  /* transform: rotate(45deg); */
}

#tbM {
  margin: 0%;
  text-align: center;
  border: .2rem solid #01FF29; 
  border-radius: 1rem;
  padding: 1rem;

}

#percent {
  margin: 0%;
  text-align: center;
  border: .2rem solid #01FF29; 
  border-radius: 1rem;
  padding: 1rem;

}

#tbNb {
  margin: 0%;
  text-align: center;
  border: .2rem solid #01FF29; 
  border-radius: 1rem;
  padding: 1rem;

}

/* text{
  color: white; 
  opacity: 0.3rem;
  font-size: 2rem;
} */
#descMap {
  width: 6rem;
  height: 60rem;
  background-color: #01FF29;
}

button {
  color: white;
  background: #00030D;
  padding: 5px 15px;
  text-align: center;
  border: 1rem;
  border-color: white;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}

/* button {
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
/* }

@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	
} */


button:hover,
.material-icons:hover {
  color: black;
  background: white;
}

.info {
  background-color: #01FF29;
  color: white;
  border: 2px solid white;
}

.info:hover {
  background-color: white;
  color: #01FF29;
}

div.tooltip-donut {
  position: fixed;
  text-align: left;
  padding: .5rem;
  background: #00030D;
  color: white;
  border-radius: 10px;
  pointer-events: none;
  font-size: 1rem;
  z-index: 2;
}

#audio-player {
  /* height: 100px; */
  width: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  /* visibility: hidden; */
}

#Titlel {
  font-weight: bold;
  background-color: white(201, 181, 224, 0.21);
  width: 25%;
  border-radius: 2rem;
  padding: 2rem;
}

.tick {
  font-size: 1rem;
}

/* #Map {
	animation-name: backgroundColorPalette;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
/* }

/* @keyframes backgroundColorPalette {
	0% {
		background-color: #ffd97d;
	}
	25% {
		color: #60d394;
	}
	50% {
		color: #aaf683;
	}
	75% {
		color: #ffd97d;
	}
	100% {
		color: #ff9b85;
	
} }   */

/* ---------------------------------------------------------------------------------------------------------------- */
h1 {
  font-size: 4rem;
}

h1 span {
  font-weight: 600;
}

.container {
  z-index: 1;
  width: 100%;
  padding: 3rem 0rem;
  margin-bottom: 3rem;
  /* margin: 50px auto; */
  position: relative;
  overflow: hidden;
}


.left-align{
  text-align: left;
  color:red;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: white;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background: #01FF29;
  margin-top: 10px;
  z-index: 9999
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: white
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}

.timeline-content span {
  font-size: 15px;
  color: white;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
}	


@media screen and (max-width: 768px) {
  .container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}