/* Packages */
@import "~normalize.css/normalize.css";

*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing : border-box;
  color:#D8D9F2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  background-color: #00030D;
  position: relative;
}
#txtStat{
  width: 80%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 0.5rem;

}

#totalNb{
  height: 100%;
  width: 100%;
  justify-content: center;
  border-width: 0px 0px 0.1rem 0px;
  border-style: solid;
  border-color: #323159;
  margin-right: 2rem;
  margin-left: 2rem;
}
#totalMasse{
  height: 100%;
  width: 100%;
  justify-content: center;
  border-width: 0px 0px 0.1rem 0px;
  border-style: solid;
  border-color: #323159;
  margin-right: 2rem;
  margin-left: 2rem;
}
#totalMass{
  height: 100%;
  width: 100%;
  background-color: beige;
}

.material-icons {
    vertical-align: middle;
  }

#music_player{
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* background-color: #00030D; */
  border-width:0px 0px 0.1vh 0px;
  border-style:solid;
  border-color:white;
}
.year{
  width: 25%;
  padding: 1rem;
  font-size: large;
}
#player{
  /* margin-left: 30rem; */
  width: 25%;
}
  
#player-infos{
  align-content: right;
  width: 22rem;
  /* margin-left: 10rem; */
  padding: 1rem;
}

#player-controls{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
#youtube-audio{
  background-color: #323159;
}

/* #separateur{
  align-items: center;
  background-color: aqua;
  width: 80%;
  height: 10vh;
} */

#meteorites{
  width: 100%;
  height: 100%;
}

.stats{
  width: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0%;
  border-radius: 5rem;
}
#StatisticsDonut{
  /* background-color: #C3C5F5; */
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  border-radius: 1.7rem;
  height: 100%;
}
#Map{
  /* margin: 1rem;  */
  /* background-color: #2F4C73;
  opacity: 0.1; */
  border-radius: 2rem;
  /* background-color: #C3C5F5; */
  height: 80%;
}
#MapVis{
  height: 100%;
  width: 100%;
}

#graph-meteorite-numbers{
display: flex;
justify-content: row;
}

#year-select{
  width: 10rem;
  height: 2rem;
  font-size: small;
  padding: 0.5rem;
}

select{
  color: white;
  border-radius: 1rem;
  border-width : 0.1rem; 
  background-color: #00030D;
  border-color: white;
}
p{
  color:white;
  font-size: 1rem;
  margin-right: 2rem;
  /* transform: rotate(45deg); */
}
#tbM{
  margin: 0%;
  text-align: center;
  font-size: 0.9rem;
}
#tbNb{
  margin: 0%;
  text-align: center;
  font-size: 0.9rem;
}
/* text{
  color: white; 
  opacity: 0.3rem;
  font-size: 2rem;
} */

button {
  color: white;
  background: #00030D;
  padding: 5px 15px;
  text-align: center;
  border :1rem; 
  border-color: white;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}

/* button {
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
/* }

@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	
} */ 


button:hover, span:hover{
  color:black;
  background: white;
}

.info {
  background-color: #323159; 
  color: white; 
  border: 2px solid white;
}
.info:hover {
  background-color: white;
  color: #323159;
}

div.tooltip-donut {
  position: absolute;
  text-align: left;
  padding: .5rem;
  background: #00030D;
  color: white;
  border-radius: 10px;
  pointer-events: none;
  font-size: 1rem;
}

#audio-player{
  /* height: 100px; */
  width: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  /* visibility: hidden; */
}

#Titlel{
  margin-bottom: 1rem;
  opacity: 60%;
}

.tick{
  font-size: 1rem;
}

/* #Map {
	animation-name: backgroundColorPalette;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
/* }

/* @keyframes backgroundColorPalette {
	0% {
		background-color: #ffd97d;
	}
	25% {
		color: #60d394;
	}
	50% {
		color: #aaf683;
	}
	75% {
		color: #ffd97d;
	}
	100% {
		color: #ff9b85;
	
} }   */