/* Packages */
@import "~normalize.css/normalize.css";

*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing : border-box;
  color:#D8D9F2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  background-color: #00030D;
  position: relative;
}

.material-icons {
    vertical-align: middle;
  }

#music_player{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #00030D; */
  border-width:0px 0px 0.1vh 0px;
  border-style:solid;
  border-color:white;
}
.year{
  padding: 1rem;
  font-size: large;
}
#player{
  /* margin-left: 30rem; */
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse
}
  
#player-infos{
  align-content: right;
  width: 22rem;
  margin-left: 10rem;
  padding: 1rem;
}
#youtube-audio{
  background-color: #323159;
}

/* #separateur{
  align-items: center;
  background-color: aqua;
  width: 80%;
  height: 10vh;
} */

#meteorites{
  width: 100%;
  height: 100%;
}

.stats{
  width: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0%;
}
#StatisticsDonut{
  /* background-color: #C3C5F5; */
  /* opacity: 0.5; */
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.7rem;
  height: 100%;
}
#Map{
  /* margin: 1rem;  */
  /* background-color: #2F4C73;
  opacity: 0.1; */
  border-radius: 2rem;
  /* background-color: #C3C5F5; */
  height: 80%;
}
#MapVis{
  height: 100%;
  width: 50%;
}
#Statistics{ 
  padding-top: 1rem;
}
#graph-meteorite-numbers{
display: flex;
justify-content: row;
}

#year-select{
  width: 10rem;
  height: 2rem;
  font-size: small;
  padding: 0.5rem;
}

select{
  color: white;
  border-radius: 1rem;
  border-width : 0.1rem; 
  background-color: #00030D;
  border-color: white;
}
p{
  color:white;
  font-size: 1rem;
  margin-right: 2rem;
  /* transform: rotate(45deg); */
}
text{
  color: white; 
  opacity: 0.3rem;
  font-size: 2rem;
}

button {
  width: 50;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}
.info {
  background-color: #323159; 
  color: white; 
  border: 2px solid white;
}
.info:hover {
  background-color: white;
  color: #323159;
}
#youtube-audio{
  background-color: white;
}
div.tooltip-donut {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #00030D;
  color: white;
  border-radius: 10px;
  pointer-events: none;
  font-size: 1rem;
}
